In [1]:
import pandas as pd
data = pd.read_excel("data1.xlsx",header=None,skiprows=[0])
#计算数据长度  
print u'行数', len(data)  
  
#计算用户A\B\C用电总和  
print data.sum()  
  
#计算用户A\B\C用点量算术平均数  
mm = data.sum()  
print mm  
  
#输出预览前5行数据  
print u'预览前5行数据'  
print data.head()  
  
#输出数据基本统计量  
print u'输出数据基本统计量'  
print data.describe()

IOError: [Errno 2] No such file or directory: 'data1.xlsx'

In [6]:
import pandas as pd
'''
通过传递一个list对象来创建Series，默认创建整型索引
'''  
a = pd.Series([4, 7, -5, 3])  

'''
创建一个带有索引来确定每一个数据点的Series 
'''
b = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])  

'''
如果你有一些数据在一个Python字典中，你可以通过传递字典来创建一个Series
'''  
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}  
c = pd.Series(sdata)
#California在字典中没有，则为NaN
states = ['California', 'Ohio', 'Oregon', 'Texas']  
d = pd.Series(sdata, index=states) 
d

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [9]:
import pandas as pd
import numpy as np

dates = pd.date_range('20130101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2013-01-01</th>
      <td>-0.944267</td>
      <td>-1.865355</td>
      <td>-0.834075</td>
      <td>-0.957505</td>
    </tr>
    <tr>
      <th>2013-01-02</th>
      <td>-0.194790</td>
      <td>0.081326</td>
      <td>0.944893</td>
      <td>-2.080521</td>
    </tr>
    <tr>
      <th>2013-01-03</th>
      <td>-0.272416</td>
      <td>0.626238</td>
      <td>0.151897</td>
      <td>-0.454447</td>
    </tr>
    <tr>
      <th>2013-01-04</th>
      <td>-1.579489</td>
      <td>0.830767</td>
      <td>0.421626</td>
      <td>-1.475936</td>
    </tr>
    <tr>
      <th>2013-01-05</th>
      <td>0.594951</td>
      <td>-0.489963</td>
      <td>-1.821442</td>
      <td>-0.066610</td>
    </tr>
    <tr>
      <th>2013-01-06</th>
      <td>-0.197732</td>
      <td>-1.178500</td>
      <td>0.848791</td>
      <td>0.682207</td>
    </tr>
  </tbody>
</table>
</div>

In [24]:
#df.loc[:,['A','B']]
#df.loc[dates[0]]
'''
这里指的是行
'''
df.iloc[3]
'''
进行切片，如果只是:，则表示选择这个维度上所有的值 例如 df.iloc[:,1:3] 就是对列进行切分
'''
df.iloc[1:3,1:3]
'''
按boolean条件选择元素 里面bool条件返回的是满足条件的元素的位置
'''
df[df.A > 0]
df[df > 0]
'''
isin()
'''
df2 = df.copy()
df2['E'] = ['one','one','two','three','four','three']
df2
df2[df2['E'].isin(['two','four'])]

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [29]:
import pandas;
df = pandas.DataFrame({
'A': [1, 2, 3], 
'B': [1, 4, 7]
})
print df
df.isin([1, 3, 12, 'a'])
df.isin({
    'A': [1, 3],
    'B': [4, 7, 12]
})

   A  B
0  1  1
1  2  4
2  3  7

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>True</td>
      <td>False</td>
    </tr>
    <tr>
      <th>1</th>
      <td>False</td>
      <td>True</td>
    </tr>
    <tr>
      <th>2</th>
      <td>True</td>
      <td>True</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
import numpy as np
import pandas as pd
#标记DataFrame重复例子  
df = pd.DataFrame({'col1': ['one', 'one', 'two', 'two', 'two', 'three', 'four'], 'col2': [1, 2, 1, 2, 1, 1, 1],  
                   'col3':['AA','BB','CC','DD','EE','FF','GG']},index=['a', 'a', 'b', 'c', 'b', 'a','c'])  
print df
df.groupby('col1').col2.count()