In [20]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.sparse as sparse
import pickle
import csv
import implicit
import itertools
import copy
plt.style.use('ggplot')
#read_csv()中的路径./指的是项目的根目录(即工作路径)
df = pd.read_csv('./data/model_likes_anon.psv',
                 sep='|', quoting=csv.QUOTE_MINIMAL,
                 quotechar='\\')
df.head()
#获取表中重复记录的条数
print('Duplicated rows: ' + str(df.duplicated().sum()))
print('That\'s weird - let\'s just drop them')
#删除重复的记录
df.drop_duplicates(inplace=True)
df = df[['uid', 'mid']]
df.head()
n_users = df.uid.unique().shape[0]
n_items = df.mid.unique().shape[0]

print('Number of users: {}'.format(n_users))
print('Number of models: {}'.format(n_items))
print('Sparsity: {:4.3f}%'.format(float(df.shape[0]) / float(n_users*n_items) * 100))
df.groupby('mid').uid.count()

Duplicated rows: 155
That's weird - let's just drop them

Number of users: 62583
Number of models: 28806
Sparsity: 0.035%

mid
0002cd76a9f04a4ca653ef623af0946f     29
0003d3d8e7a34205a1c7e7d91019a994    584
0004ed4e0ae34add94b0761120894afd     10
000553865b0449fda05da7389eded4e2     61
00058160ef75429e9f89054d02cd2bf9     23
0007009db4da4f0eb26482324062d0b3     10
00099fa513df45a8a6e1f70013e0f695     76
000c74de4a9748cca5ea7aa4aba19e75      9
000ecb9d75e245d7b851e5f2e61294c6     26
000f88bb21164319ae797d315be6bc0e     11
00115c0e3eb14464bda401f25af653b3      5
00174cebac78410a82db5122aa3a9849      9
001a2df1f7ec44898739f4e9184999c7     25
002246c2fad948e88e0d187e7ed4edde     22
0025edf310694a83a7e8f7af7b7e98f7     15
002a460caafa49199dd46eff2595bc21      8
002ba305262a409eabc8510e38b131ae     10
002c8501d5094132bd6806854fa5a3d8     27
002dde40344c4089932952e13bea10f5      5
00318ba6e94d4fde9bc8f30688e38293      6
0031f5a1fc344af6aa3ba37da38a3e56      6
00347c2453b5419f92277d677b4a603f      8
0034f617a40d4a589243cf255730d66f     12
0035761c571e4d5d803b8bcf947be5ee     24
003837366df74feaa62d6653cdff36ac     19
00397584ae124c3a92529acba240c2c3      9
003bab510248442587e6db051d60a0f2     12
003c629de4d84dca9d3ac17c93aab24a     10
00401c67224d4d55973ec4a5b67b0bf9     23
00453df9615a4c4aa01d9ca1c6bb2312     10
                                   ...
yqtBciTWjjpb0pWUstA50Ay3a55           6
ysMU3WVTlVzUpLR9Ke7ZU7gXJHF          10
ysqP6VH2x99bODrQRbcYdQjSLjV          18
ywhAn3318Ce5XpCWTCnQGMX1uLo           9
yybXRiq58sbIPDKlnatfS3XilmJ          16
z2xPBxLv1AdrGDkWKXwHI5e19fu           5
z8J8yjAvVuSYdcLoB5p76R2mDSU          22
z95oC60DbW0SUfoPV82NE23Htvr           4
z9MJsWZH8fgik3UMr7KKCV4yTXP          47
zI4vvVvbz85okjFh3mItUAVGKkS           8
zKAjvnodKferDaWHjCyenwFiL2c           9
zKoEntP74w9yEOztUuYUdOA6E3L          54
zRQXLbtLOcZhJAk2PENfDWPOfxJ           7
zSTpPRH9PfYaf6YPjouiwEHTj05          79
zSlqkXzUrqxtaTUQA81rewHjp14           8
zTPpZf5AIJqIOdGUK12xPgyJ7Zt           5
zVqomPrOh2RwARo8oUnxoUHVgYT           7
zX518f6yJZkQamEhZnbWsgbbMUa          12
zbfpTyuC5zKAxaTTso5EUfH701g          24
zdYQzx9xxVoNb8OJbR8iQf6GOK6          28
zg0lAitYQLuU1klNTsJgGlBhf6W          12
zhRqaEfTCOlO0J8zEKObBhiCiYh           8
zicHab4DIw41ZXdXHMYVogs7RXm           5
zkeiKXJYXepRCFeOmcVOIjZ5knW           6
zl1ZHdqCY5bYbwbWNypasS7VT6N           5
zlhIVhuH4PMrYs4azmyJ7zz7XaT           6
zoHx8iQZvGLrrGEXftqcj1XMRVt           6
zsqpMYSGtQolQOFd2R9qJIGHMOs           6
zuPDwe2ATu6xoSDcUN7Bv8AbMrp          21
zvtHmOyAEnJn8xCyIa7TmwkebgI          16
Name: uid, dtype: int64

In [9]:
import numpy as np
import pandas as pd
#标记DataFrame重复例子  
df = pd.DataFrame({'col1': ['one', 'one', 'two', 'two', 'two', 'three', 'four'], 'col2': [1, 2, 1, 2, 1, 1, 1],  
                   'col3':['AA','BB','CC','DD','EE','FF','GG']},index=['a', 'a', 'b', 'c', 'b', 'a','c'])  
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col1</th>
      <th>col2</th>
      <th>col3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>a</th>
      <td>one</td>
      <td>1</td>
      <td>AA</td>
    </tr>
    <tr>
      <th>a</th>
      <td>one</td>
      <td>2</td>
      <td>BB</td>
    </tr>
    <tr>
      <th>b</th>
      <td>two</td>
      <td>1</td>
      <td>CC</td>
    </tr>
    <tr>
      <th>c</th>
      <td>two</td>
      <td>2</td>
      <td>DD</td>
    </tr>
    <tr>
      <th>b</th>
      <td>two</td>
      <td>1</td>
      <td>EE</td>
    </tr>
    <tr>
      <th>a</th>
      <td>three</td>
      <td>1</td>
      <td>FF</td>
    </tr>
    <tr>
      <th>c</th>
      <td>four</td>
      <td>1</td>
      <td>GG</td>
    </tr>
  </tbody>
</table>
</div>